{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{% block head %}
  <link rel="stylesheet" href="/stylesheets/govuk-frontend.min.css">
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Dashboard</h1>
  
  {{ govukAccordion({
    id: "accordion-default",
    items: [
      {
        heading: {
          text: "Manage Delivery Employees"
        },
        content: {
          html: '<p class="govuk-body">Test</p>'
        }
      }
    ]
  }) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script type="module" src="/javascripts/govuk-frontend.min.js"></script>
  <script type="module">
    import { initAll } from '/javascripts/govuk-frontend.min.js'
    initAll()
  </script>
{% endblock %}